<template>
  <div class="index-page">
    <v-row justify="center" align="center">
      <v-col cols="12" sm="8" md="6">
        <!-- <template v-if="$accessor.auth.isLoggedIn">
          <h1>Welcome, {{ $accessor.auth.address }}!</h1>
          <v-divider />
          <v-btn @click="testSigner">TEST</v-btn>
        </template>
        <template v-else>
          <h1>Welcome to the {{ $config.eventName }}!</h1>
          <h5>Click "Connect" below to get started</h5>
        </template> -->
        <h1>Welcome to the {{ $config.eventName }}!</h1>
        <v-divider />
        <p>
          Try posting data to Arweave using a <code>TezosSigner</code>!<br />
          Type a message in the form below.
          It will be signed by the Flextesa Alice Tezos Account
          (<code>tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb</code>),
          bundled, and posted to the Tezos Bundler.
          The Tezos Bundler will post this bundle to the Arweave Testnet.
          Messages posted from this dapp will appear below!
        </p>
        <v-form>
          <v-text-field
            v-model="messageToPost"
            type="text"
            name="messageToPost"
            :disabled="isPosting"
            placeholder="Message"
          ></v-text-field>

          <v-btn @click="signAndPostMessage(messageToPost)" :loading="isPosting">
            Sign &amp; Post
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
    <br />
    <v-divider />
    <br />
    <v-row justify="center" align="center">
      <v-col cols="12" sm="8" md="6">
        <h3>Recent Messages</h3>
        <v-btn @click="debouncedFetch" :loading="$fetchState.pending">
          Refresh
        </v-btn>
        <v-row
          v-for="({
            messageId, message, signature, owner, network
          }, i) in messages"
          :key="messageId"
        >
          <v-col cols="12">
          <ul>
            <li><b>Transaction:&nbsp;</b> <code>{{ messageId }}</code></li>
            <li><b>External-Owner:</b> <code>{{ owner }}</code></li>
            <li><b>External-Network:</b> <code>{{ network }}</code></li>
            <li style="word-break: keep-all; white-space: nowrap;">
              <b>Signature:&nbsp;</b> <code>{{ signature }}</code>
            </li>
            <li><b>Message:&nbsp;</b> <code>{{ message }}</code></li>
          </ul>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import {
  Bundle,
  createData,
  TezosSigner
} from 'tezos-arbundles'

import { debounce, longTo32ByteArray } from '~/util'

@Component
export default class IndexPage extends Vue {
  // NB: Flextesa Alice Account
  secretKey: string = 'edsk3QoqBuvdamxouPhin7swCvkQNgq4jP5KZPbwWNnwdZpSpJiEbq'
  isPosting: boolean = false
  messageToPost: string = ''
  messages: {
    messageId: string,
    message: string,
    signature: string,
    owner: string,
    network: string
  }[] = []

  fetchOnServer = false
  async fetch() {
    this.messages = await this.$axios
      .$get(`${this.$config.baseUrl}/ar/bundle-messages`)
  }

  @debounce
  async debouncedFetch() {
    if (!this.$fetchState.pending) {
      this.$fetch()
    }
  }

  @debounce
  async signAndPostMessage(message: string) {
    this.isPosting = true
    try {
      const bundle = await this.createMessageBundle(message)

      const txid = bundle.items[0].id
      console.log('data item txid', txid)

      const res = await this.$axios.$post(
        '/bundler/bundle/xtz',
        bundle.getRaw()
      )
      console.log('res', res)

      this.$fetch()
    } catch (err) {
      console.error(err)
    } finally {
      this.isPosting = false
    }
  }

  private async createSigner(): Promise<TezosSigner> {
    const signer = new TezosSigner(this.secretKey)
    await signer.setPublicKey()

    return signer
  }

  private async createMessageBundle(message: string): Promise<Bundle> {
    const signer = await this.createSigner()
    const dataItem = createData(
      JSON.stringify({ message, timestamp: Date.now() }),
      signer,
      {
        tags: [
          { name: 'App-Name', value: this.$config.dapp.name },
          { name: 'App-Version', value: '1.0.0' },
          { name: 'Content-Type', value: 'application/json' },
          {
            name: 'External-Owner',
            value: 'tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb'
          },
          {
            name: 'External-Network',
            value: 'tezos'
          }
        ]
      }
    )
    await dataItem.sign(signer)

    const items = [ dataItem ]
    const headers = Buffer.alloc(64 * items.length)
    const binaries = items.map((item, index) => {
      const header = Buffer.alloc(64)
      header.set(longTo32ByteArray(item.getRaw().byteLength), 0)
      header.set(item.rawId, 32)

      headers.set(header, 64 * index)

      return item.getRaw()
    })

    const buffer = Buffer.concat([
      longTo32ByteArray(items.length),
      headers,
      ...binaries
    ])

    return new Bundle(buffer)
  }

  // @debounce
  // async testInjectedSigner() {
  //   try {
  //     // const signer = new InjectedTezosSigner(this.$beacon.wallet)
  //     const sk = 'edsk3QoqBuvdamxouPhin7swCvkQNgq4jP5KZPbwWNnwdZpSpJiEbq'
  //     const signer = new TezosSigner(sk)
  //     await signer.setPublicKey()

  //     const tx = new Transaction()

  //     const dataItem = createData('test string', signer)
  //     await dataItem.sign(signer)

  //     const valid = await dataItem.isValid()
  //     console.log('valid data item?', valid)
  //     const signed = dataItem.isSigned()
  //     console.log('signed data item?', signed)
  //     const tezosSignerVerify = await TezosSigner.verify(
  //       b58cencode(
  //         signer.publicKey,
  //         prefix[Prefix.EDPK]
  //       ),
  //       await dataItem.getSignatureData(),
  //       dataItem.rawSignature
  //     )
  //     console.log('tezosSignerVerify?', tezosSignerVerify)
  //   } catch (err) {
  //     console.error('ERROR', err)
  //   }
  // }
}
</script>
